*{
    padding: 0%;
    margin: 0%;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}
header {
    width: 100%;
    position:fixed;
    background-color: burlywood;
    top: 0;
    z-index: 2;
}

header a {
    margin: 0 20px;
}

.background  {
   width: 100%;
   height: 100vh;
   background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(Image/deja-cover.jpg);
   background-position: center;
   background-size: cover;
   
}

/*body {
    background-color: aquamarine;
    
}*/

.image {
    width: 40rem;
    height: fit-content;
    border-radius: 50px;
    border: 3px solid coral;
    margin-left: 150px;
    margin-top: 50px;
}


.wrapper {
    margin: 100px auto;
    width: 100%;

}

.navbar{
    width: 80%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {

    width: 100px;
    border-radius: 50%;  
  
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left:  0;
    bottom: -10px ;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}

.content  {
   width: 100%;
    position: center;
    margin-top: 15px;
    transform: translateY(100%);
    text-align: center;
    color: white;
    
}


.content h1 {
    font-size: 70px;
    color: wheat;
    font-style: italic;
    
}

.content p {
    margin:50px auto;
    font-weight: 100%;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
        width: 100%;
}
button:hover {
    border: none;
}


section {

    min-height: 100vh;  
   justify-content: center;
   
    
}

h2 {
    font-weight: 700;
    width: fit-content;
    padding: 15px;
    border: 2px solid #009688;
    margin: 50px;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
}

.image2 {
    width: 350px;
    height: 10rem;
    height: fit-content;
    border-radius: 50px;
    border: 3px solid black
    margin-left: 150px;
    margin-top: 50px;
    position: fixed;
    display: inline-block; 
}